---
const personalImageAlt = "Martí Grau";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Martí Grau, and I have over <strong
        >+5 years of experience in the AI field</strong
      >. Since 2019, I have been deeply involved in generative AI, focusing on
      integrating advanced technologies into specialized sectors through the
      startup <a
        href="https://stageinhome.com"
        target="_blank"
        rel="noopener noreferrer"
        class="underline font-mono">StageInHome</a
      >.
    </p>

    <p>
      I stay up-to-date with the latest advancements in generative AI, including <strong
        >generative image models</strong
      > like StyleGAN and Diffusion models, as well as <strong
        >Large Language Models (LLMs)</strong
      >. My hands-on experience with API deployments and AWS MLOps has enabled
      me to build <strong>auto-scaling services</strong> for these models, leveraging
      AWS services such as S3, Lambda, SageMaker, ECR, ECS, and more.
    </p>

    <p>
      As a co-founder of <a
        href="https://stageinhome.com"
        target="_blank"
        rel="noopener noreferrer"
        class="underline font-mono">StageInHome</a
      >, I have successfully managed projects that blend technical expertise
      with innovation, delivering impactful results. Currently, as <strong
        >AI Lead at <a
          href="https://napptilus.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="underline font-mono">Napptilus Tech Labs</a
        ></strong
      >, I continue to drive forward-thinking AI solutions, fostering innovation
      and excellence.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src={`${import.meta.env.BASE_URL}/me.png`}
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
