---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
  {
    date: "Sept 2023 - present",
    title: "Machine Learning engineer and AI Lead",
    company: "Napptilus Tech Labs",
    companyUrl: "https://napptilus.com/",
    description: `As AI Lead at Napptilus Tech Labs, I lead the development and deployment of Generative AI solutions for enterprise clients. I manage and mentor the AI team, deliver projects on time, and design advanced systems such as RAG pipelines and LLM-based solutions. My role bridges business needs and technical execution, ensuring impactful and scalable AI products.`,
    featuredLink: {
      enable: true,
      name: "Napptilus AI Labs",
      url: "https://ai.napptilus.com/"
    },
    tags: [
      { text: "Team Leadership", color: "green" },
      { text: "LangChain", iconName: "Code", color: "purple" },
      { text: "Docker", iconName: "Docker", color: "blue" },
      { text: "GCloud", iconName: "GCloud", color: "orange" },
      { text: "AWS", iconName: "AWS", color: "orange" },
    ]
  },
  {
    date: "Feb 2021 - present",
    title: "Co-Founder - Computer Vision Engineer",
    company: "StageInHome",
    companyUrl: "https://stageinhome.com/",
    description: `🚀 Co-Founder at StageInHome. Led R&D and product development, building innovative Computer Vision and AI solutions for interior design. Managed a tech team, delivered production-ready ML/DL algorithms, and drove business growth through cutting-edge technology.`,
    featuredLink: {
      enable: true,
      url: "https://stageinhome.com/"
    },
    info: {
      enable: true,
      content: "This was my entrepreneurship project thanks to my Degree thesis."
    },
    tags: [
      { text: "Entrepreneurship", color: "green" },
      { text: "Docker", iconName: "Code", color: "blue" },
      { text: "PyTorch", iconName: "Code", color: "red" },
      { text: "AWS", iconName: "AWS", color: "orange" },
    ]
  },
  {
    date: "Mar 2019 - Feb 2021",
    title: "Computer Vision & Machine Learning engineer.",
    company: "Napptilus Tech Labs",
    companyUrl: "https://napptilus.com/",
    description: `💡 Kickstarted my career in Computer Vision & Machine Learning at Napptilus Tech Labs. 
* Developed innovative CV/ML algorithms that led to the creation of StageInHome (now a startup).
* Joined the team after excelling in my degree thesis on image style transfer for interiors.
* Contributed to multiple AI projects, driving impactful solutions for real-world applications.`,
    featuredLink: {
      enable: true,
      url: "https://napptilus.com/"
    },
    info: {
      enable: false
    },
    tags: [
      { text: "R&D", color: "green" },
      { text: "Python", iconName: "Python", color: "blue" },
      { text: "Pytorch", iconName: "Code", color: "orange" },
    ]
  },
  {
    date: "Jul 2018 - Dec 2018",
    title: "Operations Team Member Internship",
    company: "Accenture",
    companyUrl: "https://www.accenture.com/es-es",
    description: `I was part of the Operations team in the Smart Recipe Hub project for Nestle, where I was in charge of dealing with the main platform issues while developing the new features for the project.

The Smart Recipe Hub (SRH) was developed for unifying all of Nestlé's culinary recipes under one single format and management process, and for ensuring complete nutritional information for all recipes in a secure, manageable way.
Additionally, I was part of the team who developed a specific chatbot using Python and Google Dialogflow services.`,
    featuredLink: {
      enable: true,
      url: "https://aws.nestle.recipes/"
    },
    tags: [
      { text: "Operations", color: "green" },
      { text: "Python", iconName: "Python", color: "blue" },
      { text: "Dialogflow", iconName: "Code", color: "blue" },
    ]
  },

]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
